[submodule "lib/mech"]
	path = lib/mech
	url = https://github.com/gnosis/mech.git
[submodule "lib/autonolas-registries"]
	path = lib/autonolas-registries
	url = https://github.com/valory-xyz/autonolas-registries.git
